@import "../settings/colors";
@import "fonts";

.nav-header {
    background-color: $cp-space-cadet;
    color: $cp-white;
    word-break: keep-all;

    &__container {
        display: flex;
        align-items: center;
        padding: 15px 0;
        justify-content: center;
    }

    &__logo {
        font-size: $font-size-32;
        font-weight: bold;
    }

    &__nav {
        display: flex;
        position: relative;

        &-btn {
            position: relative;
            font-size: $font-size-18;
            display: flex;
            margin-left: 50px;
        }

        a {
            &:hover, &.active {
                &:after {
                    border: 2px solid $cp-turquoise-blue;
                    bottom: -7px;
                    content: "";
                    left: 0;
                    position: absolute;
                    width: 100%;
                }
            }
        }
    }
}
