@import "~node_modules/reflex-grid/scss/includes/variables";

.b-input {

    &__searcher {
        min-width: 400px;
        padding-right: 15px;

        @media only screen and (min-width: $reflex-sm) {
            padding: 0 30px;
        }
    }
}
