@import "fonts";
@import "./colors";

.review {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    &-customer {
        font-size: $font-size-20;
        font-weight: $font-weight-bold;
        padding-bottom: 5px;
    }

    &-product {
        font-size: $font-size-18;
        padding-bottom: 5px;
        margin: 0 10px;
        cursor: pointer;

        &:hover {
            font-weight: $font-weight-semibold;
            color: $cp-independence;
        }
    }

    &-score {
        font-size: $font-size-18;
        font-weight: $font-weight-semibold;
        padding-bottom: 5px;
    }

    &-content {
        font-size: $font-size-15;
    }
}
