//primary
$cp-white: #ffffff;
$cp-black: #000000;
$cp-dark-gray: #202020;
$cp-oxford-blue: #0B132B;
$cp-space-cadet: #1C2541;
$cp-independence: #3A506B;
$cp-max-blue-green: #5BC0BE;
$cp-turquoise-blue: #6FFFE9;

$cp-orange-red: #FF5E5B;
$cp-light-gray: #D8D8D8;
$cp-ivory: #FFFFEA;
$cp-corn: #FFED66;

$cp-cardinal: #AD343E;
$cp-davys-gray: #474747;
$cp-honey-yellow: #F2AF29;
$cp-eggshell: #E0E0CE;
