@import "fonts";

.review-list {

    & .header {
        display: flex;
        font-size: $font-size-24;
        font-weight: $font-weight-bold;
        padding: 25px 0 20px;
    }

    & .body {
        display: flex;
        flex-direction: column;
    }
}
