/* scss/utilities/_margin.scss */
.u-m-auto{margin: auto;}
.u-ml-auto{margin-left: auto;}
.u-mt-auto{margin-top: auto;}
.u-mr-auto{margin-right: auto;}
.u-mb-auto{margin-bottom: auto;}

.u-ml-10{margin-left: 10px;}
.u-mr-10{margin-right: 10px;}
.u-mt-10{margin-top: 10px;}
.u-mb-10{margin-bottom: 10px;}
.u-m-10{margin: 10px;}

.u-ml-5{margin-left: 5px;}
.u-mr-5{margin-right: 5px;}
.u-mt-5{margin-top: 5px;}
.u-mb-5{margin-bottom: 5px;}
.u-m-5{margin: 5px;}

.u-ml-25{margin-left: 25px;}
.u-mr-25{margin-right: 25px;}
.u-mt-25{margin-top: 25px;}
.u-mb-25{margin-bottom: 25px;}
.u-m-25{margin: 25px;}

.u-ml-50{margin-left: 50px;}
.u-mr-50{margin-right: 50px;}
.u-mt-50{margin-top: 50px;}
.u-mb-50{margin-bottom: 50px;}
.u-m-50{margin: 50px;}

.u-ml-60{margin-left: 60px;}
.u-mr-60{margin-right: 60px;}
.u-mt-60{margin-top: 60px;}
.u-mb-60{margin-bottom: 60px;}
.u-m-60{margin: 60px;}

.u-ml-80{margin-left: 80px;}
.u-mr-80{margin-right: 80px;}
.u-mt-80{margin-top: 80px;}
.u-mb-80{margin-bottom: 80px;}
.u-m-80{margin: 80px;}

.u-ml-0{margin-left: 0;}
.u-mr-0{margin-right: 0;}
.u-mt-0{margin-top: 0;}
.u-mb-0{margin-bottom: 0;}
.u-m-0{margin: 0;}

.u-ml-20{margin-left: 20px;}
.u-mr-20{margin-right: 20px;}
.u-mt-20{margin-top: 20px;}
.u-mb-20{margin-bottom: 20px;}
.u-m-20{margin: 20px;}

.u-ml-40{margin-left: 40px;}
.u-mr-40{margin-right: 40px;}
.u-mt-40{margin-top: 40px;}
.u-mb-40{margin-bottom: 40px;}
.u-m-40{margin: 40px;}

.u-ml-45{margin-left: 45px;}
.u-mr-45{margin-right: 45px;}
.u-mt-45{margin-top: 45px;}
.u-mb-45{margin-bottom: 45px;}
.u-m-45{margin: 45px;}


.u-ml-15{margin-left: 15px;}
.u-mr-15{margin-right: 15px;}
.u-mt-15{margin-top: 15px;}
.u-mb-15{margin-bottom: 15px;}
.u-m-15{margin: 15px;}

.u-ml-30{margin-left: 30px;}
.u-mr-30{margin-right: 30px;}
.u-mt-30{margin-top: 30px;}
.u-mb-30{margin-bottom: 30px;}
.u-m-30{margin: 30px;}

.u-ml-35{margin-left: 35px;}
.u-mr-35{margin-right: 35px;}
.u-mt-35{margin-top: 35px;}
.u-mb-35{margin-bottom: 35px;}
.u-m-35{margin: 35px;}

.u-mt-100{margin-top: 100px;}
.u-mb-100{margin-bottom: 100px;}

.u-mt-120{margin-top: 120px;}
.u-mb-120{margin-bottom: 120px;}

.u-ml-140{margin-left: 140px;}
.u-mr-140{margin-right: 140px;}
.u-mt-140{margin-top: 140px;}
.u-mb-140{margin-bottom: 140px;}
.u-m-140{margin: 140px;}
