/* scss/utilities/_padding.scss */
.u-pl-10{padding-left: 10px;}
.u-pr-10{padding-right: 10px;}
.u-pt-10{padding-top: 10px;}
.u-pb-10{padding-bottom: 10px;}
.u-p-10{padding: 10px;}

.u-pl-5{padding-left: 5px;}
.u-pr-5{padding-right: 5px;}
.u-pt-5{padding-top: 5px;}
.u-pb-5{padding-bottom: 5px;}
.u-p-5{padding: 5px;}

.u-pl-25{padding-left: 25px;}
.u-pr-25{padding-right: 25px;}
.u-pt-25{padding-top: 25px;}
.u-pb-25{padding-bottom: 25px;}
.u-p-25{padding: 25px;}

.u-pl-15{padding-left: 15px;}
.u-pr-15{padding-right: 15px;}
.u-pt-15{padding-top: 15px;}
.u-pb-15{padding-bottom: 15px;}
.u-p-15{padding:15px;}

.u-pl-40{padding-left: 40px;}
.u-pr-40{padding-right: 40px;}
.u-pt-40{padding-top: 40px;}
.u-pb-40{padding-bottom: 40px;}
.u-p-40{padding:40px;}

.u-pl-115{padding-left: 115px;}
.u-pr-115{padding-right: 115px;}
.u-pt-115{padding-top: 115px;}
.u-pb-115{padding-bottom: 115px;}
.u-p-115{padding:115px;}

.u-pl-50{padding-left: 50px;}
.u-pr-50{padding-right: 50px;}
.u-pt-50{padding-top: 50px;}
.u-pb-50{padding-bottom: 50px;}
.u-p-50{padding: 50px;}

.u-pl-55{padding-left: 55px;}
.u-pr-55{padding-right: 55px;}
.u-pt-55{padding-top: 55px;}
.u-pb-55{padding-bottom: 55px;}
.u-p-55{padding: 55px;}

.u-pl-0{padding-left: 0;}
.u-pr-0{padding-right: 0;}
.u-pt-0{padding-top: 0;}
.u-pb-0{padding-bottom: 0;}
.u-p-0{padding: 0;}

.u-p-0-important{padding: 0 !important;}

.u-pl-20{padding-left: 20px;}
.u-pr-20{padding-right: 20px;}
.u-pt-20{padding-top: 20px;}
.u-pb-20{padding-bottom: 20px;}
.u-p-20{padding: 20px;}

.u-pl-30{padding-left: 30px;}
.u-pr-30{padding-right: 30px;}
.u-pt-30{padding-top: 30px;}
.u-pb-30{padding-bottom: 30px;}
.u-p-30{padding: 30px;}

.u-pl-35{padding-left: 35px;}
.u-pr-35{padding-right: 35px;}
.u-pt-35{padding-top: 35px;}
.u-pb-35{padding-bottom: 35px;}
.u-p-35{padding: 35px;}

.u-pl-45{padding-left: 45px;}
.u-pr-45{padding-right: 45px;}
.u-pt-45{padding-top: 45px;}
.u-pb-45{padding-bottom: 45px;}
.u-p-45{padding: 45px;}

.u-pl-60{padding-left: 60px;}
.u-pr-60{padding-right: 60px;}
.u-pt-60{padding-top: 60px;}
.u-pb-60{padding-bottom: 60px;}
.u-p-60{padding: 60px;}

.u-pl-100{padding-left: 100px;}
.u-pr-100{padding-right: 100px;}
.u-pt-100{padding-top: 100px;}
.u-pb-100{padding-bottom: 100px;}

.u-pl-140{padding-left: 140px;}
.u-pr-140{padding-right: 140px;}
.u-pt-140{padding-top: 140px;}
.u-pb-140{padding-bottom: 140px;}
.u-p-140{padding: 140px;}

.u-pb-150{padding-bottom: 150px;}
.u-pt-150{padding-top: 150px;}
