.u-text-color--white {
    color: $cp-white;
}
.u-text-color--black {
    color: $cp-black;
}
.u-text-color--dark-gray {
    color: $cp-dark-gray;
}
.u-text-color--oxford-blue {
    color: $cp-oxford-blue;
}
.u-text-color--space-cadet {
    color: $cp-space-cadet;
}
.u-text-color--independence {
    color: $cp-independence;
}
.u-text-color--max-blue-green {
    color: $cp-max-blue-green;
}
.u-text-color--turquoise-blue {
    color: $cp-turquoise-blue;
}
