<div class="nav-header">
    <div class="l-container">
        <div class="l-grid">

            <div class="nav-header__container">
                <a [routerLink]="['/']" class="nav-header__logo">E-biznes</a>

                <nav class="nav-header__nav">
                    <a [routerLink]="['/products']" [routerLinkActive]="'active'" class="nav-header__nav-btn">Produkty</a>
                    <a [routerLink]="['/orders']" [routerLinkActive]="'active'" class="nav-header__nav-btn">Twoje zamówienia</a>
                    <a [routerLink]="['/reviews']" [routerLinkActive]="'active'" class="nav-header__nav-btn">Recenzje</a>
                    <a [routerLink]="['/cart']" [routerLinkActive]="'active'" class="nav-header__nav-btn">Koszyk</a>
                </nav>
            </div>

        </div>
    </div>
</div>
