@import "fonts";
@import "./colors";

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .heading {
        font-size: $font-size-32;
        line-height: 32px;
        padding: 100px 0 50px;
    }

    & .form-input {
        width: 100%;
        margin: 0 0 20px;
    }

    & .login {
        padding: 10px 0 15px;
        display: flex;
        justify-content: flex-end;

        div {
            font-size: $font-size-13;
            line-height: 13px;
            color: $cp-independence;
            cursor: pointer;
        }
    }

    & .button {
        display: flex;
        justify-content: flex-end;
    }
}
