@import "./settings";
.c-btn__standard {
    @extend .c-btn;
    width: fit-content;
    padding: 10px 50px;
    font-size: $font-size-16;
    font-weight: $font-weight-medium;
    line-height: $line-height-small;
    letter-spacing: normal;
    white-space: nowrap;
    user-select: none;

    @include mediaQueryMax($reflex-xs) {
        width: 100%;
    }

    @include mediaQueryMin($reflex-sm) {
        line-height: $line-height-base;
        font-size: $font-size-16;
    }

    &:disabled, &--disabled {
        cursor: not-allowed !important;
        background-color: $cp-light-gray !important;
        color: $cp-white !important;
        border: 3px solid $cp-light-gray !important;
    }

    &--orange-red {
        background-color: $cp-orange-red;
        color: $cp-white;
        border: 3px solid $cp-orange-red;

        &:active, &:hover {
            background-color: $cp-white;
            color: $cp-orange-red;
            border: 3px solid $cp-orange-red;
        }

        //&:disabled, &--disabled {
        //    background-color: $cp-bittersweet-2 !important;
        //    border: 3px solid $cp-bittersweet-2 !important;
        //}
    }
}
