<div class="l-container">
    <div class="l-grid">
        <div class="l-col-12">

            <ng-container *ngIf="categories.length > 0">
                <div class="category-bar">
                    <div class="category"
                         [routerLink]="['/category/', category.id]"
                         [ngClass]="{'active': activeCategory === index}"
                         *ngFor="let category of categories; let index = index"
                         (click)="categorySelected(index)">
                        {{category.name}}
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</div>
