<app-category-bar (selectedCategory)="selectedCategory($event)"></app-category-bar>
<div class="l-container">
    <div class="l-grid">
        <div class="l-col-12">

            <div class="product-list">
                <div class="header">
                    <div class="header-text" *ngIf="!category">Wszystkie produkty:</div>
                    <div class="header-text" *ngIf="category">Produkty w kategorii {{category.name}}:</div>
                    <div class="b-input__searcher">
                        <mat-form-field class="u-w-100">
                            <mat-label>Wyszukaj produkt</mat-label>
                            <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="searchProduct()">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>

                <div class="body">
                    <div class="product-box"
                         [routerLink]="['/products/', product.id]"
                         *ngFor="let product of filtered">
                        <div class="heading">
                            <div class="heading-text">{{product.name}}</div>
                            <div class="heading-price">{{product.price}} zł</div>
                        </div>
                        <div class="button">
                            <div class="c-btn__standard c-btn__standard--orange-red">Zobacz produkt</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
