@import "fonts";
@import "settings";

.product-list {
    display: flex;
    flex-direction: column;

    & .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;

        &-text {
            font-size: $font-size-24;
            font-weight: $font-weight-bold;
            padding: 25px 0 20px;
        }
    }

    & .body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        margin-top: 50px;

    }
}
