.u-bg--white {
    background-color: $cp-white;
}
.u-bg--black {
    background-color: $cp-black;
}
.u-bg--dark-gray {
    background-color: $cp-dark-gray;
}
.u-bg--oxford-blue {
    background-color: $cp-oxford-blue;
}
.u-bg--space-cadet {
    background-color: $cp-space-cadet;
}
.u-bg--independence {
    background-color: $cp-independence;
}
.u-bg--max-blue-green {
    background-color: $cp-max-blue-green;
}
.u-bg--turquoise-blue {
    background-color: $cp-turquoise-blue;
}
