/* scss/utilities/_text--size.scss */
.u-text--size-9 {
  font-size: $font-size-9;
}
.u-text--size-10 {
  font-size: $font-size-10;
}
.u-text--size-11 {
  font-size: $font-size-11;
}
.u-text--size-12 {
  font-size: $font-size-12;
}
.u-text--size-13 {
  font-size: $font-size-13;
}
.u-text--size-14 {
  font-size: $font-size-14;
}
.u-text--size-15 {
  font-size: $font-size-15;
}
.u-text--size-16 {
  font-size: $font-size-16;
}
.u-text--size-18 {
  font-size: $font-size-18;
}
.u-text--size-19 {
    font-size: $font-size-19;
}
.u-text--size-20{
  font-size: $font-size-20;
}
.u-text--size-22 {
  font-size: $font-size-22;
}
.u-text--size-23 {
    font-size: $font-size-23;
}
.u-text--size-24 {
  font-size: $font-size-24;
}
.u-text--size-26 {
  font-size: $font-size-26;
}
.u-text--size-28 {
  font-size: $font-size-28;
}
.u-text--size-30 {
  font-size: $font-size-30;
}
.u-text--size-32 {
  font-size: $font-size-32;
}
.u-text--size-34 {
  font-size: $font-size-34;
}
.u-text--size-38 {
  font-size: $font-size-38;
}
.u-text--size-40 {
  font-size: $font-size-40;
}
.u-text--size-42 {
    font-size: $font-size-42;
}
.u-text--size-44 {
    font-size: $font-size-44;
}
.u-text--size-50 {
    font-size: $font-size-50;
}
.u-text--size-52 {
  font-size: $font-size-52;
}
.u-text--size-60 {
    font-size: $font-size-60;
}
.u-text--size-64 {
    font-size: $font-size-64;
}
