<div class="order-details l-col-12">

    <div class="row">
        <div class="u-display-flex u-flex-direction-col l-col-6">
            <div class="products" *ngFor="let product of order.products">
                <div [routerLink]="['/products', product.id]" class="products-name">{{product.name}}</div>
                <div class="products-price">{{product.price}} zł</div>
            </div>
        </div>
        <div class="total-order-value l-col-4">{{order.totalOrderValue}} zł</div>
    </div>

</div>
