@import "./colors";
@import "fonts";

.order-details {
    display: flex;
    flex-direction: column;

    & .row {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            background-color: $cp-light-gray;
        }
    }

    & .products {
        display: flex;
        padding: 5px 0;
        justify-content: space-between;

        &-name {
            font-size: $font-size-15;
            font-weight: $font-weight-semibold;
            line-height: 15px;
            cursor: pointer;

            &:hover {
                font-weight: $font-weight-bold;
                color: $cp-independence;
            }
        }

        &-price {
            font-size: $font-size-15;
            line-height: 15px;
        }
    }

    & .total-order-value {
        font-size: $font-size-20;
        font-weight: $font-weight-semibold;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
}
