/* You can add global styles to this file, and also import other style files */
@import "main.scss";
@import "./reflex-grid-settings";
@import "~node_modules/reflex-grid/scss/reflex.scss";

html, body {
  height: 100%;
  word-break: break-word;
}

/**************************** INNE ****************************/
:focus {
  outline: none;
}

#body {
  height: 100% !important;
  background-color: $cp-white;
}

/******* MOBILE BRAK NIEBIESKIEGO TŁA PO TAPNIĘCIU ***********/
input,
textarea,
button,
select,
div,
i,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
