<div class="l-container">
    <div class="l-grid">
        <div class="l-col-12">
            <div class="product-details">
                <div class="return" [routerLink]="['/products']">
                    <mat-icon class="u-mr-10">keyboard_return</mat-icon>
                    <div>Wróć do wszystkich produktów</div>
                </div>
                <div class="header">
                    <div class="header-text">{{product.name}}</div>
                    <div class="c-btn__standard c-btn__standard--orange-red"
                         (click)="addItemToCart()">Dodaj do koszyka</div>
                </div>
                <div class="price">{{product.price}} zł</div>
                <div class="description">{{product.description}}</div>
            </div>

            <div class="reviews" *ngIf="reviews && reviews.length">
                <div class="header">Recenzje</div>

                <div class="body">
                    <app-review-details *ngFor="let review of reviews" [review]="review"></app-review-details>
                </div>

            </div>

        </div>
    </div>
</div>
