@import "fonts";

.product-details {

    & .return {
        cursor: pointer;
        display: flex;
        align-items: center;
        font-size: $font-size-12;
    }

    & .header {
        display: flex;
        padding: 25px 0 20px;
        justify-content: space-between;
        align-items: center;

        &-text {
            font-size: $font-size-28;
            font-weight: $font-weight-bold;
        }
    }

    & .price {
        font-size: $font-size-18;
        font-weight: $font-weight-semibold;
        padding: 0 0 15px;
    }

    & .description {
        display: flex;
        font-size: $font-size-15;
        padding: 0 0 20px;
    }
}

.reviews {

    & .header {
        display: flex;
        font-size: $font-size-24;
        font-weight: $font-weight-bold;
        padding: 25px 0 20px;
    }

    & .body {
        display: flex;
        flex-direction: column;
    }
}
